{% extends "layout.html" %}


{% block body %}
     
        <h1>Dashboard <small>Welcome user ID {{session.username}}</small> </h1>
        <div class="row">
          <div class="col-md-6">
              {% from "includes/_formhelpers.html" import render_field %}
              <form action="" method="POST">
                <div class="form-group">
                        <input type="text" name="" id="">
                </div>
                <p><input type="submit" value="Search" class="btn btn-primary"></p>
              </form>
          </div>
          <div class="col-md-6">
              <a class="btn btn-success" href="#">Import Books</a>
          </div>
        </div>
        <hr>
        <ul>
          <li>Houses</li>
          <li>Tenants</li>
          <li>Payments</li>
        </ul>
      
{% endblock %}